[Unit]
Description=Sample service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/sample_server

[Install]
WantedBy=multi-user.target
